In [ ]:
import pandas as pd
import numpy as np

# --- Series Basics ---
data = [10, 20, 30, 40, 50]
series = pd.Series(data)
print("Original Series:\n", series)

# Series with custom index
a = [1, 7, 21]
myvar = pd.Series(a, index=["x", "y", "z"])
print("\nSeries with custom index:\n", myvar)

# Boolean filtering
gt = series > 25
print("\nBoolean filter series > 25:\n", gt)
series_filtered = series[gt]
print("Filtered Series:\n", series_filtered)

# Scalar multiplication
series_multiplied = series * 2
print("\nSeries after scalar multiplication:\n", series_multiplied)

# Applying numpy function (sqrt)
series_sqrt = np.sqrt(series)
print("\nSeries after applying square root:\n", series_sqrt)

# --- DataFrame Basics ---
data_dict = {
    "calories": [420, 380, 390],
    "duration": [50, 40, 45]
}
df = pd.DataFrame(data_dict)
print("\nSimple DataFrame:\n", df)

data2 = {
    'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada', 'Nevada'],
    'year': [2000, 2001, 2002, 2001, 2002, 2003],
    'pop': [1.5, 1.7, 3.6, 2.4, 2.9, 3.2]
}
frame = pd.DataFrame(data2)
print("\nDataFrame with multiple columns:\n", frame)

# Change column order
frame = pd.DataFrame(data2, columns=['year', 'state', 'pop'])
print("\nDataFrame with reordered columns:\n", frame)

# Adding new column with NaNs
frame2 = pd.DataFrame(data2, columns=['year', 'state', 'pop', 'debt'],
                      index=['one', 'two', 'three', 'four', 'five', 'six'])
print("\nDataFrame with new 'debt' column (NaNs):\n", frame2)

# Access columns
print("\nAccess 'year' column:\n", frame2['year'])
print("\nAccess 'state' column:\n", frame2.state)

# Access rows by label with loc
print("\nRow 'one':\n", frame2.loc['one'])
print("\nRows 'two' and 'three':\n", frame2.loc[['two', 'three']])

# Assign scalar to entire column (broadcast)
frame2['debt'] = 12.4
print("\nAfter broadcasting 'debt' column:\n", frame2)

# Assign numpy array to column
frame2['debt'] = np.arange(6.)
print("\nAfter assigning np.arange to 'debt' column:\n", frame2)

# Assign Series with custom indices to column (partial)
val = pd.Series([-1.2, -1.5, -1.7], index=['two', 'four', 'five'])
frame2['debt'] = val
print("\nAfter assigning partial Series to 'debt':\n", frame2)

# Delete column
del frame2['debt']
print("\nAfter deleting 'debt' column:\n", frame2)

# Transpose DataFrame
print("\nTransposed DataFrame:\n", frame2.T)

# Reindex Series
obj = pd.Series([4.5, 7.2, -5.3, 3.6], index=['d', 'b', 'a', 'c'])
print("\nOriginal Series for reindexing:\n", obj)
obj2 = obj.reindex(['a', 'b', 'c', 'd', 'e'])
print("Reindexed Series:\n", obj2)

# Reindex with forward fill
obj3 = pd.Series(['blue', 'purple', 'yellow'], index=[0, 2, 4])
obj4 = obj3.reindex(range(6), method='ffill')
print("\nReindex with forward fill:\n", obj4)

# Drop entries from Series
obj = pd.Series(np.arange(5.), index=['a', 'b', 'c', 'd', 'e'])
new_obj = obj.drop('c')
print("\nSeries after dropping 'c':\n", new_obj)

# Drop rows from DataFrame
data = pd.DataFrame(np.arange(16).reshape((4, 4)),
                    index=['Ohio', 'Dallas', 'NJ', 'New York'],
                    columns=['one', 'two', 'three', 'four'])
print("\nOriginal DataFrame:\n", data)
print("\nDataFrame after dropping 'NJ' and 'Ohio':\n", data.drop(['NJ', 'Ohio']))

# Indexing and slicing in Series
obj = pd.Series(np.arange(4.), index=['a', 'b', 'c', 'd'])
print("\nobj['b']:", obj['b'])
print("obj[1]:", obj[1])
print("obj[2:4]:\n", obj[2:4])
print("obj[['b','a','d']]:\n", obj[['b', 'a', 'd']])
print("obj['b':'d']:\n", obj['b':'d'])
print("obj[[1,3]]:\n", obj[[1, 3]])
print("obj[obj < 2]:\n", obj[obj < 2])

# Indexing in DataFrame
data = pd.DataFrame(np.arange(24).reshape((6, 4)),
                    index=['Ohio', 'Dallas', 'Boston', 'NJ', 'New York', 'Austin'],
                    columns=['one', 'two', 'three', 'four'])
print("\nSelect column 'two':\n", data['two'])
print("\nSlice rows 1 to 5:\n", data[1:5])
print("\nSelect rows and columns via loc:\n", data.loc['Dallas', ['two', 'three']])
print("\nSelect single scalar via at:\n", data.at['Dallas', 'one'])
print("\nSelect row by position (iloc):\n", data.iloc[3])
print("\nSelect slice by position (iloc):\n", data.iloc[2:5, 0:2])

# Filter DataFrame rows where column 'three' > 5
print("\nBoolean filter where 'three' > 5:\n", data['three'] > 5)
print("\nFiltered DataFrame rows where 'three' > 5:\n", data[data['three'] > 5])

# Boolean DataFrame mask example
print("\nBoolean mask (data < 5):\n", data < 5)
print("\nDataFrame with mask applied (data < 5):\n", data[data < 5])

# Arithmetic with DataFrames (example)
df1 = pd.DataFrame(np.arange(9.).reshape((3, 3)), columns=list('bcd'))
df2 = pd.DataFrame(np.arange(12.).reshape((4, 3)), columns=list('bcd'))
print("\nDataFrame 1:\n", df1)
print("\nDataFrame 2:\n", df2)
print("\nSum of df1 and df2 (with alignment):\n", df1 + df2)

Original Series:
 0    10
1    20
2    30
3    40
4    50
dtype: int64

Series with custom index:
 x     1
y     7
z    21
dtype: int64

Boolean filter series > 25:
 0    False
1    False
2     True
3     True
4     True
dtype: bool
Filtered Series:
 2    30
3    40
4    50
dtype: int64

Series after scalar multiplication:
 0     20
1     40
2     60
3     80
4    100
dtype: int64

Series after applying square root:
 0    3.162278
1    4.472136
2    5.477226
3    6.324555
4    7.071068
dtype: float64

Simple DataFrame:
    calories  duration
0       420        50
1       380        40
2       390        45

DataFrame with multiple columns:
     state  year  pop
0    Ohio  2000  1.5
1    Ohio  2001  1.7
2    Ohio  2002  3.6
3  Nevada  2001  2.4
4  Nevada  2002  2.9
5  Nevada  2003  3.2

DataFrame with reordered columns:
    year   state  pop
0  2000    Ohio  1.5
1  2001    Ohio  1.7
2  2002    Ohio  3.6
3  2001  Nevada  2.4
4  2002  Nevada  2.9
5  2003  Nevada  3.2

DataFrame with new 'debt' column (NaNs):
        year   state  pop debt
one    2000    Ohio  1.5  NaN
two    2001    Ohio  1.7  NaN
three  2002    Ohio  3.6  NaN
four   2001  Nevada  2.4  NaN
five   2002  Nevada  2.9  NaN
six    2003  Nevada  3.2  NaN

Access 'year' column:
 one      2000
two      2001
three    2002
four     2001
five     2002
six      2003
Name: year, dtype: int64

Access 'state' column:
 one        Ohio
two        Ohio
three      Ohio
four     Nevada
five     Nevada
six      Nevada
Name: state, dtype: object

Row 'one':
 year     2000
state    Ohio
pop       1.5
debt      NaN
Name: one, dtype: object

Rows 'two' and 'three':
        year state  pop debt
two    2001  Ohio  1.7  NaN
three  2002  Ohio  3.6  NaN

After broadcasting 'debt' column:
        year   state  pop  debt
one    2000    Ohio  1.5  12.4
two    2001    Ohio  1.7  12.4
three  2002    Ohio  3.6  12.4
four   2001  Nevada  2.4  12.4
five   2002  Nevada  2.9  12.4
six    2003  Nevada  3.2  12.4

After assigning np.arange to 'debt' column:
        year   state  pop  debt
one    2000    Ohio  1.5   0.0
two    2001    Ohio  1.7   1.0
three  2002    Ohio  3.6   2.0
four   2001  Nevada  2.4   3.0
five   2002  Nevada  2.9   4.0
six    2003  Nevada  3.2   5.0

After assigning partial Series to 'debt':
        year   state  pop  debt
one    2000    Ohio  1.5   NaN
two    2001    Ohio  1.7  -1.2
three  2002    Ohio  3.6   NaN
four   2001  Nevada  2.4  -1.5
five   2002  Nevada  2.9  -1.7
six    2003  Nevada  3.2   NaN

After deleting 'debt' column:
        year   state  pop
one    2000    Ohio  1.5
two    2001    Ohio  1.7
three  2002    Ohio  3.6
four   2001  Nevada  2.4
five   2002  Nevada  2.9
six    2003  Nevada  3.2

Transposed DataFrame:
         one   two three    four    five     six
year   2000  2001  2002    2001    2002    2003
state  Ohio  Ohio  Ohio  Nevada  Nevada  Nevada
pop     1.5   1.7   3.6     2.4     2.9     3.2

Original Series for reindexing:
 d    4.5
b    7.2
a   -5.3
c    3.6
dtype: float64
Reindexed Series:
 a   -5.3
b    7.2
c    3.6
d    4.5
e    NaN
dtype: float64

Reindex with forward fill:
 0      blue
1      blue
2    purple
3    purple
4    yellow
5    yellow
dtype: object

Series after dropping 'c':
 a    0.0
b    1.0
d    3.0
e    4.0
dtype: float64

Original DataFrame:
           one  two  three  four
Ohio        0    1      2     3
Dallas      4    5      6     7
NJ          8    9     10    11
New York   12   13     14    15

DataFrame after dropping 'NJ' and 'Ohio':
           one  two  three  four
Dallas      4    5      6     7
New York   12   13     14    15

obj['b']: 1.0
obj[1]: 1.0
obj[2:4]:
 c    2.0
d    3.0
dtype: float64
obj[['b','a','d']]:
 b    1.0
a    0.0
d    3.0
dtype: float64
obj['b':'d']:
 b    1.0
c    2.0
d    3.0
dtype: float64
obj[[1,3]]:
 b    1.0
d    3.0
dtype: float64
obj[obj < 2]:
 a    0.0
b    1.0
dtype: float64

Select column 'two':
 Ohio         1
Dallas       5
Boston       9
NJ          13
New York    17
Austin      21
Name: two, dtype: int64

Slice rows 1 to 5:
           one  two  three  four
Dallas      4    5      6     7
Boston      8    9     10    11
NJ         12   13     14    15
New York   16   17     18    19

Select rows and columns via loc:
 two      5
three    6
Name: Dallas, dtype: int64

Select single scalar via at:
 4

Select row by position (iloc):
 one      12
two      13
three    14
four     15
Name: NJ, dtype: int64

Select slice by position (iloc):
           one  two
Boston      8    9
NJ         12   13
New York   16   17

Boolean filter where 'three' > 5:
 Ohio        False
Dallas       True
Boston       True
NJ           True
New York     True
Austin       True
Name: three, dtype: bool

Filtered DataFrame rows where 'three' > 5:
           one  two  three  four
Dallas      4    5      6     7
Boston      8    9     10    11
NJ         12   13     14    15
New York   16   17     18    19
Austin     20   21     22    23

Boolean mask (data < 5):
             one    two  three   four
Ohio       True   True   True   True
Dallas     True  False  False  False
Boston    False  False  False  False
NJ        False  False  False  False
New York  False  False  False  False
Austin    False  False  False  False

DataFrame with mask applied (data < 5):
           one  two  three  four
Ohio      0.0  1.0    2.0   3.0
Dallas    4.0  NaN    NaN   NaN
Boston    NaN  NaN    NaN   NaN
NJ        NaN  NaN    NaN   NaN
New York  NaN  NaN    NaN   NaN
Austin    NaN  NaN    NaN   NaN

DataFrame 1:
      b    c    d
0  0.0  1.0  2.0
1  3.0  4.0  5.0
2  6.0  7.0  8.0

DataFrame 2:
      b     c     d
0  0.0   1.0   2.0
1  3.0   4.0   5.0
2  6.0   7.0   8.0
3  9.0  10.0  11.0

Sum of df1 and df2 (with alignment):
       b     c     d
0   0.0   2.0   4.0
1   6.0   8.0  10.0
2  12.0  14.0  16.0
3   NaN   NaN   NaN

/tmp/ipython-input-2714747862.py:107: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print("obj[1]:", obj[1])
/tmp/ipython-input-2714747862.py:111: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print("obj[[1,3]]:\n", obj[[1, 3]])